<h1><%= @user.email%>'s Events</h1>

<div class="created-events">
  Created: <br><br>
  <% @created_events.each do |e| %>
    <%= link_to e.title, event_path(e) %> <br>
  <% end %>
</div><br>

<div class="attending-events">
  Attending: <br><br>
  <% @attended_events.each do |e| %>
    <% if e.event_date > Time.now %>
      <%= link_to e.title, event_path(e) %> <br>
    <% end %>
  <% end %><br><br>
  Attended:<br><br>
  <% @attended_events.each do |e| %>
    <% if e.event_date < Time.now %>
      <%= link_to e.title, event_path(e) %>
    <% end %>
  <% end %>
</div>
