<h1>All Events</h1>

Past Events: <br>
<% @past_events.each do |pe| %>
  <%= link_to pe.title, event_path(pe) %> <br>
<% end %> <br>
Future Events:<br>
<% @future_events.each do |e| %>
  <%= link_to e.title, event_path(e) %> <br>
<% end %> <br>

<%= button_to 'Create Event', new_event_path, method: :get%>
